body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Clicker Script', cursive;
  font-size: 5.62em;
  font-style: normal;
  color: #66BFBF;
  }

h2 {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Noto Sans TC', sans-serif;
  color: #11999E;
  text-decoration: none;
}

a {
  color: #11999E;
  font-family: 'Noto Sans TC', sans-serif;
}

p {
  line-height: 2;
}

.profile-image {
  width: 200px;
  height: auto;
  border-radius: 50%;
}

.intro {
  color: #40514E;
}

.top-container {
  background-color: #e8e4e1;
  position: relative;
  padding-top: 100px;
}

.bottom-container {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #66BFBF;
  color: #11999E;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile {
  margin: auto;
  margin-top: 100px;
  width: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.image-WD {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.image-PM {
  float: right;
  margin-left: 30px;
  width: 25%;
}

.rulings {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

.footer-link {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0 0;
}

.closing {
  margin: 50px auto 40px;
  width: 40%;

}
.btn {
	box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Noto Sans TC', sans-serif;
	font-size:20px;
	font-weight:normal;
  margin-bottom: 50px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
}
.btn:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn:active {
	position:relative;
	top:1px;
}

.attribution {
  font-size: 0.75rem;
}
